<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ !!assignment ? 'Edit Assignment' : 'Add Assignment' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="assignmentFrom"
    (ngSubmit)="submitForm()"
    class="padding-8"
  >
    <ion-item lines="full" class="form-group item-radius">
      <ion-label position="floating" for="name">Name</ion-label>
      <ion-input
        type="text"
        id="name"
        name="name"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <span
      class="ion-padding text-danger"
      *ngIf="errorControl.name.touched && errorControl.name.errors?.required"
    >
      Name is required.
    </span>
    <span
      class="ion-padding text-danger"
      *ngIf="errorControl.name.errors?.maxlength"
    >
      Name is too long.
    </span>
    <ion-item lines="full" class="form-group my-input-margin item-radius">
      <ion-label position="stacked" for="dueDate">Due date</ion-label>
      <ion-input
        type="datetime-local"
        id="dueDate"
        name="dueDate"
        formControlName="dueDate"
      ></ion-input>
    </ion-item>
    <span
      class="ion-padding text-danger"
      *ngIf="
        errorControl.dueDate.touched && errorControl.dueDate.errors?.required
      "
    >
      Due Date is required.
    </span>
    <ion-item lines="full" class="form-group my-input-margin item-radius">
      <ion-label position="floating" for="points">Points</ion-label>
      <ion-input
        type="number"
        id="points"
        name="points"
        formControlName="points"
      ></ion-input>
    </ion-item>
    <span
      class="ion-padding text-danger"
      *ngIf="
        errorControl.points.touched && errorControl.points.errors?.required
      "
    >
      Points is required.
    </span>
    <span
      class="ion-padding text-danger"
      *ngIf="errorControl.points.errors?.min"
    >
      Points should be positive number.
    </span>
    <ion-item lines="full" class="form-group my-input-margin item-radius">
      <ion-checkbox
        slot="start"
        id="published"
        name="published"
        formControlName="published"
      ></ion-checkbox>
      <ion-label for="published"> Published </ion-label>
    </ion-item>
    <ion-item class="my-input-margin item-radius no-bottom-radius">
      <ion-label>Description</ion-label>
    </ion-item>
    <ion-item class="form-group item-radius no-top-radius">
      <quill-editor
        [styles]="editorStyle"
        formControlName="description"
        [modules]="editorConfig"
        class="ion-padding-bottom"
      ></quill-editor>
    </ion-item>
    <span
      class="ion-padding text-danger"
      *ngIf="errorControl.description.errors?.maxlength"
    >
      The length of the description reached the max capacity.
    </span>
    <span
      class="text-danger ion-padding"
      *ngIf="
        errorControl.description.touched &&
        errorControl.description.errors?.required
      "
    >
      Description is required.
    </span>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          type="submit"
          color="success"
          class="button-width"
          [disabled]="assignmentFrom.invalid"
        >
          <ng-container *ngIf="!!assignment; else elseTemplate">
            <ion-icon name="save-outline" class="button-icon"></ion-icon>
            Save
          </ng-container>
          <ng-template #elseTemplate>
            <ion-icon name="add-outline" class="button-icon"></ion-icon>
            Add
          </ng-template>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
