.grid {
  padding-top: 100px;
  max-width: 1000px;
}

.button-icon {
  padding-right: 5px;
}

.password-col {
  max-width: 350px;
}

.account-icon {
  font-size: 70px;
  padding-left: 20px;
}

.button-for-image {
  vertical-align: baseline;
  padding-left: 10px;
}

.upload-form {
  padding-left: 20px;
}

.avatar {
  display: inline-block;
  margin-left: 20px;
}

.card {
  text-align: start;
}
