<ion-content>
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-card class="card ion-no-margin">
          <ion-card-header>
            <ion-card-title> Registered users </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-input
                placeholder="Name"
                (ionChange)="onFilterPersons($event)"
              >
                <ion-icon name="search-outline" class="button-icon"></ion-icon>
              </ion-input>
            </ion-item>
            <ng2-smart-table
              class="ion-text-center"
              [settings]="personsSettings"
              [source]="filteredPersons"
              (deleteConfirm)="onDeleteConfirm($event)"
              (editConfirm)="onEditConfirm($event)"
            ></ng2-smart-table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
