.top-padding {
  top: 10%;
}

.max-width {
  max-width: 1000px;
}

.center {
  text-align: -webkit-center;
}

.start {
  text-align: start;
}

.account-icon {
  font-size: 40px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.title {
  display: inline-block;
  vertical-align: super;
}

.dark-blue {
  color: #1e6bb8;
}

.add-icon {
  padding-right: 5px;
}

.add-button-row {
  text-align: end;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-30 {
  margin-top: 30px;
}

.pb-100 {
  padding-bottom: 100px;
}

.avatar {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}
