.top-padding {
  top: 10%;
}

.max-width {
  max-width: 1000px;
}

.center {
  text-align: -webkit-center;
}

.start {
  text-align: start;
}

.account-icon {
  font-size: 40px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.title {
  display: inline-block;
  vertical-align: super;
}

.mt20 {
  margin-top: 20px;
}

.dark-blue {
  color: #1e6bb8;
}

.add-icon {
  padding-right: 5px;
}

.add-button-row {
  text-align: end;
}
