<ion-content *ngIf="!!announcement">
  <ion-grid class="grid">
    <ion-row *ngIf="isTeacher" fixed class="button-row">
      <ion-col>
        <ion-button color="primary" (click)="presentAnnouncementModal()">
          <ion-icon name="create-outline" class="button-icon"></ion-icon>
          Edit
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card ion-no-margin">
          <ion-card-header class="padding-8">
            <ion-card-title>
              <ion-avatar class="avatar">
                <img
                  [src]="creatorImageUrl"
                  onerror="this.src='assets/icon/account-icon.png'"
                />
              </ion-avatar>
              <div class="title">{{ announcement.name }}</div>
              <ion-card-subtitle class="dark-blue"
                >{{ announcement.creator.firstName }}
                {{ announcement.creator.lastName }}
              </ion-card-subtitle>
              <ion-card-subtitle>
                {{ announcement.date | date: 'medium' }}
              </ion-card-subtitle>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-margin-top padding-8">
            <quill-view-html
              [content]="announcement.content"
              theme="snow"
            ></quill-view-html>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row fixed class="button-row">
      <ion-col class="ion-text-start">
        <p class="comments-label">Comments</p>
      </ion-col>
      <ion-col>
        <ion-button color="success" (click)="presentCommentModal()">
          <ion-icon name="arrow-undo-outline" class="button-icon"></ion-icon>
          Reply
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let comment of announcement.comments">
      <ion-col>
        <ion-card class="card ion-no-margin">
          <ion-card-header class="ion-no-padding">
            <ion-card-title>
              <ion-item>
                <ion-avatar class="avatar" slot="start">
                  <img
                    [src]="commentImageUrls[comment.commenter.id]"
                    onerror="this.src='assets/icon/account-icon.png'"
                  />
                </ion-avatar>
                <ion-buttons
                  slot="end"
                  *ngIf="comment.commenter.email === username"
                  class="ion-no-margin"
                >
                  <ion-button color="primary" (click)="onEditClicked(comment)">
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-button>
                  <ion-button
                    color="danger"
                    (click)="onDeleteClicked(comment.id)"
                  >
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-card-subtitle>
                  <ion-text class="dark-blue">
                    {{ comment.commenter.firstName }}
                    {{ comment.commenter.lastName }}
                  </ion-text>
                  - {{ comment.date | date: 'medium' }}
                </ion-card-subtitle>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <quill-view-html
              [content]="comment.content"
              theme="snow"
            ></quill-view-html>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
