<ion-content class="content">
  <form
    class="form-signing ion-padding"
    [formGroup]="registrationForm"
    (ngSubmit)="submitForm()"
  >
    <ion-item lines="full" class="form-group item-radius">
      <ion-label position="floating" for="firstName">First name</ion-label>
      <ion-input
        type="text"
        id="firstName"
        name="firstName"
        formControlName="firstName"
      ></ion-input>
    </ion-item>
    <span
      class="ion-padding-bottom text-danger block"
      *ngIf="
        errorControl.firstName.touched &&
        errorControl.firstName.errors?.required
      "
    >
      First name is required.
    </span>
    <span
      class="text-danger ion-padding-bottom block"
      *ngIf="errorControl.firstName.errors?.maxlength"
    >
      First name is too long.
    </span>
    <ion-item lines="full" class="form-group item-radius">
      <ion-label position="floating" for="lastName">Last name</ion-label>
      <ion-input
        type="text"
        id="lastName"
        name="lastName"
        formControlName="lastName"
      ></ion-input>
    </ion-item>
    <span
      class="ion-padding-bottom text-danger block"
      *ngIf="
        errorControl.lastName.touched && errorControl.lastName.errors?.required
      "
    >
      Last name is required.
    </span>
    <span
      class="text-danger ion-padding-bottom block"
      *ngIf="errorControl.lastName.errors?.maxlength"
    >
      Last name is too long.
    </span>
    <ion-item lines="full" class="form-group item-radius">
      <ion-label position="floating" for="email">Email address</ion-label>
      <ion-input
        type="email"
        id="email"
        name="email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <span
      class="ion-padding-bottom text-danger block"
      *ngIf="errorControl.email.touched && errorControl.email.errors?.required"
    >
      Email address is required.
    </span>
    <span
      class="text-danger ion-padding-bottom block"
      *ngIf="errorControl.email.errors?.maxlength"
    >
      Email address is too long.
    </span>
    <span
      class="text-danger ion-padding-bottom block"
      *ngIf="errorControl.email.errors?.pattern"
    >
      Email address is not valid.
    </span>
    <ion-item lines="full" class="form-group item-radius">
      <ion-label position="floating" for="password">Password</ion-label>
      <ion-input
        type="password"
        id="password"
        name="password"
        formControlName="password"
      ></ion-input>
    </ion-item>
    <span
      class="ion-padding-bottom text-danger block"
      *ngIf="
        errorControl.password.touched && errorControl.password.errors?.required
      "
    >
      Password is required.
    </span>
    <span
      class="text-danger ion-padding-bottom block"
      *ngIf="errorControl.password.errors?.maxlength"
    >
      Password is too long.
    </span>
    <span
      class="text-danger ion-padding-bottom block"
      *ngIf="errorControl.password.errors?.minlength"
    >
      Password is too short.
    </span>
    <span
      class="text-danger ion-padding-bottom block"
      *ngIf="
        errorControl.password.errors?.pattern?.requiredPattern ===
        '^.*[^A-Za-z0-9].*$'
      "
    >
      Password doesn't contain special character.
    </span>
    <span
      class="text-danger ion-padding-bottom block"
      *ngIf="
        errorControl.password.errors?.pattern?.requiredPattern === '^.*[0-9].*$'
      "
    >
      Password doesn't contain number.
    </span>
    <span
      class="text-danger ion-padding-bottom block"
      *ngIf="
        errorControl.password.errors?.pattern?.requiredPattern === '^.*[a-z].*$'
      "
    >
      Password doesn't contain lowercase.
    </span>
    <span
      class="text-danger ion-padding-bottom block"
      *ngIf="
        errorControl.password.errors?.pattern?.requiredPattern === '^.*[A-Z].*$'
      "
    >
      Password doesn't contain uppercase.
    </span>
    <ion-item lines="full" class="form-group item-radius">
      <ion-label position="floating" for="confirmPassword"
        >Confirm password</ion-label
      >
      <ion-input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        formControlName="confirmPassword"
      ></ion-input>
    </ion-item>
    <span
      class="ion-padding-bottom text-danger block"
      *ngIf="
        errorControl.confirmPassword.touched &&
        errorControl.confirmPassword.errors?.required
      "
    >
      Confirm password is required.
    </span>
    <span
      class="ion-padding-bottom text-danger block"
      *ngIf="errorControl.confirmPassword.errors?.passwordMissmatch"
    >
      Passwords must match.
    </span>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="success"
          expand="block"
          [disabled]="registrationForm.invalid"
        >
          <ion-icon name="reader-outline" class="button-icon"></ion-icon>
          Register
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
