.account-icon {
  font-size: 30px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.account-name {
  display: inline-block;
  font-size: smaller;
  vertical-align: super;
}

.topbar {
  position: fixed;
  top: 0;
}

.path {
  font-style: italic;
  font-weight: bold;
  vertical-align: top;
}

.avatar {
  display: inline-block;
  max-width: 35px;
  max-height: 35px;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .hidden-buttons {
    visibility: hidden;
  }
}
