<ion-header>
  <ion-toolbar color="light">
    <a
      [style]="
        backButtonService.isActive() ? 'display:visible' : 'visibility:hidden'
      "
      class="account-icon"
      (click)="backClicked()"
    >
      <ion-icon name="chevron-back-outline"></ion-icon
    ></a>
    <ion-buttons slot="end">
      <div *ngIf="username">
        <ion-icon name="person-circle-outline" class="account-icon"></ion-icon>
        <div class="account-name">
          {{ username }}
        </div>
      </div>
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="accountMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="medium">
      <ion-title>
        <div *ngIf="username">
          <ion-icon
            name="person-circle-outline"
            class="account-icon"
          ></ion-icon>
          <div class="account-name">
            {{ username }}
          </div>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button>Settings</ion-item>
      <ion-item button (click)="onLogOutClicked()">Log out</ion-item>
      <ion-item button (click)="closeMenu()"> Close </ion-item>
      <ion-item>
        <ion-label>Dark Theme</ion-label>
        <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
