<ion-content class="content" *ngIf="!!course">
  <ion-slides
    #slides
    [options]="options"
    (ionSlideDidChange)="ionSlideDidChange()"
  >
    <ion-slide>
      <div>
        <ion-grid>
          <ion-row fixed class="add-button-row">
            <ion-col>
              <ion-button
                color="success"
                (click)="presentAnnouncementModal()"
                class="add-button"
              >
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                Add announcement
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-card
                [data]="announcementOverviews"
                [title]="'Announcements'"
              ></app-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <ion-grid>
          <ion-row fixed class="add-button-row">
            <ion-col>
              <ion-button
                color="success"
                (click)="presentAssignmentModal()"
                class="add-button"
              >
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                Add assignment
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-card
                [data]="assignmentOverviews"
                [title]="'Assignments'"
              ></app-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
    <ion-slide>
      <ion-card class="table">
        <ng2-smart-table
          [settings]="settings"
          [source]="gradeOverviews"
        ></ng2-smart-table>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <app-card [data]="discussionOverviews" [title]="'Discussions'"></app-card>
    </ion-slide>
    <ion-slide> Files </ion-slide>
    <ion-slide>
      <div>
        <h2>Description</h2>
        <p>
          {{ course.description }}
        </p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="footer">
  <ion-segment
    (ionChange)="segmentChanged($event)"
    scrollable
    #segments
    [value]="defaultSlide"
  >
    <ion-segment-button value="0">
      <ion-label>Announcements</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>Assignment</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Grades</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>Discussions</ion-label>
    </ion-segment-button>
    <ion-segment-button value="4">
      <ion-label>Files</ion-label>
    </ion-segment-button>
    <ion-segment-button value="5">
      <ion-label>Description</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
