<ion-content *ngIf="!!course">
  <ion-slides
    #slides
    [options]="options"
    (ionSlideDidChange)="ionSlideDidChange()"
    class="slides"
  >
    <ion-slide *ngIf="!!announcementOverviews" class="slide">
      <ion-grid class="grid">
        <ion-row *ngIf="isTeacher" fixed class="button-row">
          <ion-col>
            <ion-button color="success" (click)="presentAnnouncementModal()">
              <ion-icon name="add-outline" class="button-icon"></ion-icon>
              Add Announcement
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-card
              [data]="announcementOverviews"
              [title]="'Announcements'"
              (deleteClicked)="deleteAnnouncement($event)"
              (viewClicked)="viewAnnouncement($event)"
            ></app-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide *ngIf="!!assignmentOverviews" class="slide">
      <ion-grid class="grid">
        <ion-row *ngIf="isTeacher" fixed class="button-row">
          <ion-col>
            <ion-button color="success" (click)="presentAssignmentModal()">
              <ion-icon name="add-outline" class="button-icon"></ion-icon>
              Add Assignment
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-card
              [data]="assignmentOverviews"
              [title]="'Assignments'"
              (deleteClicked)="deleteAssignment($event)"
              (viewClicked)="viewAssignment($event)"
            ></app-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide *ngIf="!!quizOverviews" class="slide">
      <ion-grid class="grid">
        <ion-row *ngIf="isTeacher" fixed class="button-row">
          <ion-col>
            <ion-button color="success" (click)="presentQuizModal()">
              <ion-icon name="add-outline" class="button-icon"></ion-icon>
              Add Quiz
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-card
              [data]="quizOverviews"
              [title]="'Quizzes'"
              (deleteClicked)="deleteQuiz($event)"
              (viewClicked)="viewQuiz($event)"
            ></app-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide *ngIf="!!gradeOverviews" class="slide">
      <ion-grid class="grid">
        <ion-row *ngIf="editedGrade" class="button-row">
          <ion-col>
            <ion-button color="warning" (click)="onResetClicked()">
              <ion-icon name="reload-outline" class="button-icon"></ion-icon>
              Reset
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card ion-text-center ion-no-margin">
              <ion-card-header>
                <ion-card-title class="dark-blue"> Grades </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ng2-smart-table
                  [settings]="gradeTableSettings"
                  [source]="gradeOverviews"
                  (editConfirm)="onEditConfirmed($event)"
                  class="grade-table"
                ></ng2-smart-table>
                <ion-item class="pl-25">
                  <ion-grid>
                    <ion-row>
                      <ion-col> Total: </ion-col>
                      <ion-col> {{ precentage | number }}% </ion-col>
                      <ion-col class="pl-120">
                        {{ sumOfGrades }} / {{ sumOfPoints }}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide *ngIf="!!discussionOverviews" class="slide">
      <ion-grid class="grid">
        <ion-row fixed class="button-row">
          <ion-col>
            <ion-button color="success" (click)="presentDiscussionModal()">
              <ion-icon name="add-outline" class="button-icon"></ion-icon>
              Add Discussion
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-card
              [data]="discussionOverviews"
              [title]="'Discussions'"
              (deleteClicked)="deleteDiscussion($event)"
              (viewClicked)="viewDiscussion($event)"
            ></app-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slide">
      <ion-grid class="grid">
        <ion-row class="title-row">
          <ion-col>
            <ion-item class="dark-blue title item-radius">
              <ng-container *ngIf="!!courseFilesToDownload; else elseTemplate">
                {{ courseFilesToDownload.length }} files selected
              </ng-container>
              <ng-template #elseTemplate> 0 files selected </ng-template>
              <ion-buttons
                slot="end"
                *ngIf="
                  !!courseFilesToDownload && courseFilesToDownload.length > 0
                "
              >
                <ion-button (click)="onCourseFilesDownloadClicked()">
                  <ion-icon
                    name="download-outline"
                    class="button-icon"
                  ></ion-icon>
                  Download
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card ion-text-center ion-no-margin">
              <ion-card-header>
                <ion-card-title class="dark-blue">Files</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ng2-smart-table
                  [settings]="courseFilesTableSettings"
                  [source]="course.files"
                  (userRowSelect)="onCourseFileSelected($event)"
                  (deleteConfirm)="onCourseFileDeleteClicked($event)"
                ></ng2-smart-table>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isTeacher" class="upload-button-row">
          <ion-col class="ion-text-end">
            <ion-button
              [color]="uploadingCourseFile ? 'danger' : 'success'"
              (click)="onUploadFilesClicked()"
            >
              <ion-icon
                *ngIf="uploadingCourseFile"
                name="close-outline"
                class="button-icon"
              ></ion-icon>
              <ion-icon
                *ngIf="!uploadingCourseFile"
                name="push-outline"
                class="button-icon"
              ></ion-icon>
              {{ uploadingCourseFile ? 'Cancel' : 'Upload file' }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="uploadingCourseFile">
          <ion-col>
            <ion-card class="card ion-no-margin">
              <ion-card-content>
                <ion-item
                  *ngFor="
                    let item of [].constructor(numOfCourseFiles);
                    let i = index
                  "
                >
                  <ion-input
                    type="file"
                    (change)="onCourseFileChange($event, i)"
                  >
                  </ion-input>
                  <ion-buttons *ngIf="i === numOfCourseFiles - 1 && i !== 0">
                    <ion-button
                      color="danger"
                      (click)="onRemoveCourseFileClicked()"
                    >
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-button
                        color="success"
                        (click)="onAddAnotherCourseFileClicked()"
                      >
                        <ion-icon
                          name="add-outline"
                          class="button-icon"
                        ></ion-icon>
                        Add Another File
                      </ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-button color="primary" (click)="uploadCourseFile()">
                        <ion-icon
                          name="push-outline"
                          class="button-icon"
                        ></ion-icon>
                        Upload
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slide">
      <ion-grid class="grid">
        <ion-row *ngIf="isTeacher" fixed class="button-row">
          <ion-col>
            <ion-button color="primary" (click)="presentCourseModal()">
              <ion-icon name="create-outline" class="button-icon"></ion-icon>
              Edit
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <ion-card-header>
                <ion-card-title class="dark-blue">Description</ion-card-title>
              </ion-card-header>
              <ion-card-content class="description">
                <quill-view-html
                  [content]="course.description"
                  theme="snow"
                ></quill-view-html>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide *ngIf="isTeacher" class="slide">
      <ion-grid class="grid">
        <ion-row>
          <ion-col>
            <ion-card class="card smart-table-card ion-no-margin">
              <ion-card-header>
                <ion-card-title class="dark-blue">
                  Participants
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-input
                    placeholder="Name"
                    (ionChange)="onFilterParticipants($event)"
                  >
                    <ion-icon
                      name="search-outline"
                      class="button-icon"
                    ></ion-icon>
                  </ion-input>
                </ion-item>
                <ng2-smart-table
                  [settings]="participantsTableSettings"
                  [source]="filteredParticipants"
                  (deleteConfirm)="onKickParticipantClicked($event)"
                ></ng2-smart-table>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card smart-table-card ion-no-margin">
              <ion-card-header>
                <ion-card-title class="dark-blue">
                  Available Persons
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-input
                    placeholder="Name"
                    (ionChange)="onFilterAvailablePersons($event)"
                  >
                    <ion-icon
                      name="search-outline"
                      class="button-icon"
                    ></ion-icon>
                  </ion-input>
                </ion-item>
                <ng2-smart-table
                  [settings]="availablePersonsTableSettings"
                  [source]="filteredThinPersons"
                  (userRowSelect)="onUserRowSelected($event)"
                ></ng2-smart-table>
              </ion-card-content>
              <ion-card-content class="ion-text-end">
                <ion-button
                  color="secondary"
                  (click)="inviteClicked()"
                  [disabled]="!personsToInvite.length"
                >
                  <ion-icon
                    name="add-circle-outline"
                    class="button-icon"
                  ></ion-icon>
                  Invite
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <ion-card-header>
                <ion-card-title class="dark-blue">
                  Inivte By E-mail Addresses
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item lines="full">
                  <ion-label position="floating">E-mail addresses</ion-label>
                  <ion-textarea
                    type="text"
                    rows="4"
                    [(ngModel)]="emailListString"
                    placeholder="Type e-mail addresses here seperated by ' , '"
                  ></ion-textarea>
                </ion-item>
              </ion-card-content>
              <ion-card-content *ngIf="showErrorMessage" class="ion-text-start">
                <ion-text color="danger">
                  {{ errorMessage }}
                </ion-text>
              </ion-card-content>
              <ion-card-content class="ion-text-end">
                <ion-button
                  [disabled]="!emailListString.length"
                  color="secondary"
                  (click)="onInviteByEmailClicked()"
                >
                  <ion-icon
                    name="add-circle-outline"
                    class="button-icon"
                  ></ion-icon>
                  Invite
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <ion-card-header>
                <ion-card-title class="dark-blue">
                  Inivte By Groups
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <tag-input
                  [(ngModel)]="groupsToInvite"
                  [identifyBy]="'id'"
                  theme="bootstrap"
                  [onlyFromAutocomplete]="true"
                  class="ion-margin item-radius"
                  placeholder="+ Group"
                  secondaryPlaceholder="+ Group"
                >
                  <tag-input-dropdown
                    [showDropdownIfEmpty]="true"
                    [autocompleteItems]="groups"
                    [identifyBy]="'id'"
                  >
                  </tag-input-dropdown>
                </tag-input>
              </ion-card-content>
              <ion-card-content class="ion-text-end">
                <ion-button
                  [disabled]="!groupsToInvite.length"
                  color="secondary"
                  (click)="onInviteByGroupClicked()"
                >
                  <ion-icon
                    name="add-circle-outline"
                    class="button-icon"
                  ></ion-icon>
                  Invite
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isTeacher && canDelete" fixed class="button-row">
          <ion-col>
            <ion-button color="danger" (click)="deleteCourse()">
              <ion-icon name="trash-outline" class="button-icon"></ion-icon>
              Delete Course
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-segment
    (ionChange)="segmentChanged($event)"
    scrollable
    #segments
    [value]="defaultSlide"
  >
    <ion-segment-button value="0" id="segment-0">
      <ion-label>Announcements</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1" id="segment-1">
      <ion-label>Assignments</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" id="segment-2">
      <ion-label>Quizzes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3" id="segment-3">
      <ion-label>Grades</ion-label>
    </ion-segment-button>
    <ion-segment-button value="4" id="segment-4">
      <ion-label>Discussions</ion-label>
    </ion-segment-button>
    <ion-segment-button value="5" id="segment-5">
      <ion-label>Files</ion-label>
    </ion-segment-button>
    <ion-segment-button value="6" id="segment-6">
      <ion-label>Description</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngIf="isTeacher" value="7" id="segment-7">
      <ion-label>Settings</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
