ng2-dropdown-menu .ng2-dropdown-menu {
  background: var(--ion-color-light) !important;
  border-radius: 6px !important;
  div {
    div {
      background: var(--ion-color-light) !important;
      color: var(--ion-text-color) !important;
      font-family: 'Varela Round' !important;
    }
  }
}

form .ng2-tag-input__text-input {
  border-radius: 6px;
  font-family: 'Varela Round' !important;
}

tag-input .ng2-tag-input.bootstrap div tag {
  font-family: 'Varela Round';
}

.slides {
  padding-top: 60px;
}

ion-segment {
  --background: var(--ion-color-light);
}

ion-segment-button {
  min-width: 170px;
}

.card {
  max-width: 1000px;
}

.button-icon {
  padding-right: 5px;
}

.button-row {
  text-align: end;
  max-width: 1000px;
}

.description {
  text-align: start;
  overflow-wrap: anywhere;
}

.slide {
  padding-bottom: 100px;
}

tr {
  word-break: break-word;
}

.pl-25 {
  padding-left: 25px;
}

.pl-120 {
  padding-left: 120px;
}

.grid {
  text-align: -webkit-center;
  padding: 0px;
}

@media screen and (max-width: 1000px) {
  .grid {
    text-align: unset;
  }
}

.edited {
  color: var(--ion-color-warning);
}

.upload-button-row {
  max-width: 1000px;
}

.title-row {
  max-width: 1000px;
}

.title {
  font-style: italic;
}

.danger {
  color: var(--ion-color-danger);
}
