<div>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center dark-blue">
        {{ title }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let item of data">
        <ion-label class="ion-text-wrap">
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </ion-label>
        <ion-buttons slot="end" class="buttons">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button color="success" (click)="onAcceptClicked(item.id)">
                  <ion-icon name="checkmark-outline"></ion-icon>
                  Accept
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button color="danger" (click)="onDeclineClicked(item.id)">
                  <ion-icon name="close-outline"></ion-icon>
                  Decline
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-buttons>
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>
