.grid {
  padding-top: 60px;
  text-align: -webkit-center;
}

.courses-card {
  max-width: 1000px;
}

.table-header {
  font-size: medium;
  font-weight: bold;
  font-style: italic;
}

.save-button-row {
  text-align: end;
  max-width: 1000px;
}

.button-icon {
  padding-right: 5px;
}
