<ion-content>
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-card class="courses-card ion-no-margin">
          <ion-card-header>
            <ion-card-title class="dark-blue"> Courses </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-input
                placeholder="Course"
                (ionChange)="onFilterParticipations($event)"
              >
                <ion-icon name="search-outline" class="button-icon"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-grid>
              <ion-row class="table-header">
                <ion-col> Course </ion-col>
                <ion-col> Show on dashboard </ion-col>
              </ion-row>
              <ion-row *ngFor="let participation of filteredParticipaions">
                <ion-col>
                  {{ participation.course.name }}
                </ion-col>
                <ion-col>
                  <ion-checkbox
                    [(ngModel)]="participation.showOnDashboard"
                  ></ion-checkbox>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="save-button-row">
      <ion-col class="ion-text-center">
        <ion-button
          color="success"
          (click)="onSaveClicked()"
          class="button-width"
        >
          <ion-icon name="save-outline" class="button-icon"></ion-icon>
          Save
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
