.buttons-row {
  max-width: 1000px;
  text-align: end;
}

.card {
  max-width: 1000px;
  text-align: start;
}

.button-icon {
  padding-right: 5px;
}

.inline-block {
  display: inline-block;
}

.float-right {
  float: right;
}

.late {
  color: red;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: -webkit-link;
}

.owrap {
  overflow-wrap: anywhere;
}

.dc {
  display: contents;
}

.comment-row {
  max-width: 1000px;
}

.comment-card {
  max-width: 1000px;
  text-align: start;
}

.grid {
  padding-top: 100px;
  text-align: -webkit-center;
}

.avatar {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.bold {
  font-weight: bold;
}
