<ion-content class="center" *ngIf="!!assignment">
  <ion-grid class="grid">
    <ion-row *ngIf="isTeacher" fixed class="buttons-row">
      <ion-col>
        <ion-button
          *ngIf="assignment.published"
          color="medium"
          (click)="modifyPublished(false)"
        >
          <ion-icon name="eye-off-outline" class="button-icon"></ion-icon>
          Hide
        </ion-button>
        <ion-button
          *ngIf="!assignment.published"
          color="success"
          (click)="modifyPublished(true)"
        >
          <ion-icon name="eye-outline" class="button-icon"></ion-icon>
          Publish
        </ion-button>
        <ion-button color="primary" (click)="presentAssignmentModal()">
          <ion-icon name="pencil-outline" class="button-icon"></ion-icon>
          Edit
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>
              <div class="inline-block">
                {{ assignment.name }}
              </div>
              <div class="float-right">
                <ion-button
                  [color]="isSubmitting ? 'danger' : 'success'"
                  (click)="onSubmitClicked()"
                >
                  <ion-icon
                    *ngIf="isSubmitting"
                    name="close-outline"
                    class="button-icon"
                  ></ion-icon>
                  <ion-icon
                    *ngIf="!isSubmitting"
                    name="push-outline"
                    class="button-icon"
                  ></ion-icon>
                  {{ isSubmitting ? "Cancel" : "Submit" }}
                </ion-button>
              </div>
            </ion-card-title>
            <ion-card-subtitle class="dark-blue">
              <b>Due:</b> {{ assignment.dueDate | date: "medium" }} |
              <b>Points:</b>
              {{ assignment.points }}
            </ion-card-subtitle>
            <div *ngIf="isSubmitting">
              <ion-item
                *ngFor="let item of [].constructor(numOfFiles); let i = index"
              >
                <ion-input type="file" (change)="onFileChange($event, i)">
                </ion-input>
                <ion-buttons *ngIf="i === numOfFiles - 1 && i !== 0">
                  <ion-button color="danger" (click)="onRemoveFileClicked()">
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
              <ion-button color="success" (click)="onAddAnotherFileClicked()">
                <ion-icon name="add-outline" class="button-icon"></ion-icon>
                Add another file
              </ion-button>
              <ion-item lines="full" class="form-group my-input-padding">
                <ion-textarea
                  type="text"
                  [(ngModel)]="content"
                  rows="4"
                  placeholder="Type comment here..."
                  maxlength="2048"
                ></ion-textarea>
              </ion-item>
              <ion-button color="primary" (click)="uploadFile()">
                <ion-icon name="push-outline" class="button-icon"></ion-icon>
                Upload
              </ion-button>
            </div>
            <div *ngIf="isTeacher">
              <p class="link" (click)="goToSubmissions()">View submissions</p>
            </div>
            <div *ngIf="!!submissions && submissions.length > 0 && !isTeacher">
              <p class="bold">Submissions:</p>
              <div *ngFor="let submission of submissions" class="owrap">
                <ion-buttons
                  slot="end"
                  [ngClass]="submission.date > assignment.dueDate ? 'late' : ''"
                  *ngFor="let file of submission.files"
                >
                  {{ file.fileName }} -
                  {{ submission.date | date: "medium" }}
                  <div *ngIf="submission.date > assignment.dueDate" class="dc">
                    &nbsp;(late)
                  </div>
                  <ion-button
                    (click)="
                      onSubmissionClicked(submission.id, file.fileName, file.id)
                    "
                  >
                    <ion-icon
                      class="dark-blue"
                      name="download-outline"
                    ></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
              <ng-container *ngIf="!!grade; else elseTemplate">
                <p class="bold">
                  Grade: {{ grade.grade }} out of {{ assignment.points }}
                </p>
              </ng-container>
              <ng-template #elseTemplate> <p>Not yet graded.</p></ng-template>
            </div>
          </ion-card-header>
          <ion-card-content class="mt20">
            <quill-view-html
              [content]="assignment.description"
              theme="snow"
            ></quill-view-html>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="!isTeacher">
      <ion-row class="comment-row bold"> Comments: </ion-row>
      <ion-row *ngFor="let comment of assignment.comments">
        <ion-col>
          <ion-card class="comment-card">
            <ion-card-header class="ion-no-padding">
              <ion-card-title>
                <ion-item>
                  <ion-avatar class="avatar" slot="start">
                    <img
                      [src]="commentImageUrls[comment.commenter.id]"
                      onerror="this.src='assets/icon/account-icon.png'"
                    />
                  </ion-avatar>
                  <ion-buttons
                    slot="end"
                    *ngIf="comment.commenter.email === username"
                    class="ion-no-margin"
                  >
                    <ion-button
                      color="primary"
                      (click)="onEditClicked(comment)"
                    >
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                    <ion-button
                      color="danger"
                      (click)="onDeleteClicked(comment.id)"
                    >
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <ion-card-subtitle class="dark-blue"
                    >{{ comment.commenter.firstName }}
                    {{ comment.commenter.lastName }}
                  </ion-card-subtitle>
                  <ion-card-subtitle>
                    &nbsp;- {{ comment.date | date: "medium" }}
                  </ion-card-subtitle>
                </ion-item>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div
                *ngIf="!editingComment[comment.id]"
                [innerHTML]="comment.content"
              ></div>
              <ion-grid *ngIf="editingComment[comment.id]">
                <ion-row>
                  <ion-col>
                    <ion-item lines="full" class="form-group my-input-padding">
                      <ion-textarea
                        type="text"
                        [(ngModel)]="content3"
                        rows="4"
                        placeholder="Type comment here..."
                        maxlength="2048"
                      ></ion-textarea>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-align-self-end">
                    <ion-button
                      (click)="onUpdateClicked(comment.id)"
                      [disabled]="!!!content3"
                    >
                      <ion-icon
                        name="sync-outline"
                        class="button-icon"
                      ></ion-icon>
                      Update comment
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    <ion-button
                      color="danger"
                      (click)="onCancelClicked(comment.id)"
                      [disabled]="!!!content3"
                    >
                      <ion-icon
                        name="close-outline"
                        class="button-icon"
                      ></ion-icon>
                      Cancel
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="comment-card">
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-item lines="full" class="form-group my-input-padding">
                      <ion-textarea
                        type="text"
                        [(ngModel)]="content2"
                        rows="4"
                        placeholder="Type comment here..."
                        maxlength="2048"
                      ></ion-textarea>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-align-self-end">
                    <ion-button
                      color="success"
                      [disabled]="!!!content2"
                      (click)="onLeaveCommentClicked()"
                    >
                      <ion-icon
                        name="chatbox-ellipses-outline"
                        class="button-icon"
                      ></ion-icon>
                      Leave comment
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
