.top-padding {
  top: 10%;
}

.max-width {
  max-width: 1000px;
}

.center {
  text-align: -webkit-center;
}

.start {
  text-align: start;
}

.mt20 {
  margin-top: 20px;
}

.dark-blue {
  color: #1e6bb8;
}

.add-icon {
  padding-right: 5px;
}

.tae {
  text-align: end;
}

.inline-block {
  display: inline-block;
}

.float-right {
  float: right;
}

.icon-font-size {
  font-size: 20px;
}

.late {
  color: red;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: -webkit-link;
}

.owrap {
  overflow-wrap: anywhere;
}

.dc {
  display: contents;
}
