<ion-content class="top-padding center" *ngIf="!!quiz">
  <ion-grid class="padding-bottom">
    <ion-row *ngIf="isTeacher" fixed class="tae max-width">
      <ion-col>
        <ion-button color="primary" (click)="presentQuizModal()">
          <ion-icon name="pencil-outline" class="add-icon"></ion-icon>
          Edit quiz
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="max-width start">
          <ion-card-header>
            <ion-card-title>
              <div class="inline-block">
                {{ quiz.name }}
              </div>
            </ion-card-title>
            <ion-card-subtitle class="dark-blue">
              <b>Due:</b> {{ quiz.dueDate | date: "medium" }} |
              <b>Time limit:</b> {{ quiz.timeLimit }} |
              <b>Points:</b>
              {{ quiz.points }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="mt20">
            <div [innerHTML]="quiz.description"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isTeacher" class="inline-block">
      <ion-button color="secondary">
        <ion-icon name="pencil-outline" class="add-icon"></ion-icon>
        Take the quiz
      </ion-button>
    </ion-row>
    <ion-row *ngIf="isTeacher" class="inline-block">
      <ion-button color="success" (click)="presentQuestionModal()">
        <ion-icon name="pencil-outline" class="add-icon"></ion-icon>
        Add question
      </ion-button>
    </ion-row>
    <ion-row fixed class="max-width">
      <ion-col class="start">
        <p class="mb-0 mt-30">Questions:</p>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="isTeacher">
      <ion-row *ngFor="let question of questions">
        <ion-col>
          <ion-card class="max-width start">
            <ion-card-header>
              <ion-card-title>
                <ion-item>
                  {{ question.content }}
                  <ion-buttons slot="end">
                    <ion-button
                      color="primary"
                      (click)="editQuestion(question.id)"
                    >
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                    <ion-button
                      color="danger"
                      (click)="deleteQuestion(question.id)"
                    >
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div *ngFor="let answer of question.answers">
                <ion-checkbox [checked]="answer.correct" disabled="true">
                </ion-checkbox>
                <ion-label>
                  {{ answer.content }}
                </ion-label>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
