.grid {
  padding-top: 75px;
  text-align: -webkit-center;
}

.button-row {
  max-width: 1000px;
  text-align: end;
}

.card {
  max-width: 1000px;
  text-align: start;
}

.question-label-row {
  max-width: 1000px;
  text-align: start;
}

.button-icon {
  padding-right: 5px;
}

.inline-block {
  display: inline-block;
}

.question-label {
  margin-bottom: 0px;
  margin-top: 30px;
}

.incorrect-answer {
  color: var(--ion-color-danger);
}

.correct-answer {
  color: var(--ion-color-success);
}

.correct-not-picked {
  color: var(--ion-color-warning);
}

.answers-hidden-column {
  @extend .incorrect-answer;
}

.answer-hidden-icon {
  font-size: 20px;
  vertical-align: middle;
}

.answer-hidden-text {
  vertical-align: middle;
}
