.late {
  color: red;
}

::ng-deep ion-select-popover ion-list ion-radio-group .not-graded {
  color: var(--ion-color-warning);
}

::ng-deep ion-select-popover ion-list ion-radio-group .graded {
  color: var(--ion-color-success);
}

::ng-deep ion-item .graded {
  color: var(--ion-color-success);
}

::ng-deep ion-item .not-graded {
  color: var(--ion-color-warning);
}

.dc {
  display: contents;
}

.card {
  max-width: 1000px;
  text-align: start;
}

.minw-150 {
  min-width: 150px;
}

.tac {
  text-align: -webkit-center;
}

.student-selector {
  max-width: 400px;
}

.grid {
  padding-top: 75px;
}

.comment-card {
  max-width: 1000px;
  text-align: start;
}

.account-icon {
  font-size: 40px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

.comment-row {
  max-width: 1000px;
}

.button-icon {
  padding-right: 5px;
}

.max-points {
  padding-left: 15px;
}

.title {
  max-width: 1000px;
  font-weight: bold;
  font-style: italic;
}

.avatar {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}
