<ion-content class="tac" *ngIf="!!assignment">
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-item class="dark-blue title">
          Submissions for {{ assignment.name }}
          <ion-buttons slot="end">
            <ion-button (click)="onDownloadAllClicked()" color="tertiary">
              <ion-icon name="download-outline" class="button-icon"></ion-icon>
              Download all
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>
              <ion-grid class="ion-text-center">
                <ion-row>
                  <ion-col class="tac">
                    <ion-item class="student-selector">
                      <ion-label>Student</ion-label>
                      <ion-select
                        [compareWith]="compareWith"
                        interface="popover"
                        #student
                        [value]="participants[0]"
                      >
                        <ion-select-option
                          *ngFor="let participant of participants"
                          [value]="participant"
                        >
                          {{
                            participant.firstName + " " + participant.lastName
                          }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-button (click)="onPreviousClicked()">
                      <ion-icon name="caret-back-outline"></ion-icon>
                      Previous
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button (click)="onNextClicked()">
                      Next
                      <ion-icon name="caret-forward-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="minw-150">
                  <ion-row> Submitted files: </ion-row>
                  <ng-container
                    *ngFor="
                      let submission of getSubmissionsBySubmitterId(
                        student.value.id
                      )
                    "
                  >
                    <ion-buttons
                      [ngClass]="
                        submission.date > assignment.dueDate ? 'late' : ''
                      "
                      *ngFor="let file of submission.files"
                    >
                      {{ file.fileName }} -
                      {{ submission.date | date: "MMM d, h:mm a" }}
                      <div
                        *ngIf="submission.date > assignment.dueDate"
                        class="dc"
                      >
                        &nbsp;(late by
                        {{
                          getDifferenceInDays(
                            submission.date,
                            assignment.dueDate
                          )
                        }})
                      </div>
                      <ion-button
                        (click)="
                          onSubmissionClicked(
                            submission.id,
                            file.fileName,
                            file.id
                          )
                        "
                      >
                        <ion-icon
                          class="dark-blue"
                          name="download-outline"
                        ></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ng-container>
                  <ion-row>
                    <ion-col size="6">
                      <form #gradeFrom="ngForm">
                        <ion-item lines="full" class="form-group">
                          <ion-label position="floating" for="grade">
                            Enter grade
                          </ion-label>
                          <ion-input
                            type="number"
                            id="points"
                            name="grade"
                            [(ngModel)]="grades[student.value.id]"
                            required
                          ></ion-input>
                        </ion-item>
                        <ion-text class="max-points">
                          out of {{ assignment.points }}
                        </ion-text>
                      </form>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item
                        lines="full"
                        class="form-group my-input-padding"
                      >
                        <ion-textarea
                          type="text"
                          [(ngModel)]="uploadCommentContent"
                          rows="4"
                          placeholder="Type comment here..."
                          maxlength="2048"
                        ></ion-textarea>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-align-self-end">
                      <ion-button
                        color="success"
                        [disabled]="!gradeFrom.form.valid"
                        (click)="grade(student.value.email, student.value.id)"
                      >
                        <ion-icon name="ribbon-outline"></ion-icon>
                        Grade
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="comment-row"> Comments: </ion-row>
    <ion-row *ngFor="let comment of getComments(student.value.id)">
      <ion-col>
        <ion-card class="comment-card">
          <ion-card-header class="ion-no-padding">
            <ion-card-title>
              <ion-item>
                <ion-avatar class="avatar">
                  <img
                    [src]="commentImageUrls[comment.commenter.id]"
                    onerror="this.src='assets/icon/account-icon.png'"
                  />
                </ion-avatar>
                <ion-buttons
                  slot="end"
                  *ngIf="comment.commenter.email === username"
                  class="ion-no-margin"
                >
                  <ion-button color="primary" (click)="onEditClicked(comment)">
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-button>
                  <ion-button
                    color="danger"
                    (click)="onDeleteClicked(comment.id)"
                  >
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-card-subtitle class="dark-blue"
                  >{{ comment.commenter.firstName }}
                  {{ comment.commenter.lastName }}
                </ion-card-subtitle>
                <ion-card-subtitle>
                  &nbsp;- {{ comment.date | date: "medium" }}
                </ion-card-subtitle>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div
              *ngIf="!editingComment[comment.id]"
              [innerHTML]="comment.content"
            ></div>
            <ion-grid *ngIf="editingComment[comment.id]">
              <ion-row>
                <ion-col>
                  <ion-item lines="full" class="form-group my-input-padding">
                    <ion-textarea
                      type="text"
                      [(ngModel)]="updateCommentContent"
                      rows="4"
                      placeholder="Type comment here..."
                      maxlength="2048"
                    ></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-align-self-end">
                  <ion-button
                    (click)="onUpdateClicked(comment.id)"
                    [disabled]="!!!updateCommentContent"
                  >
                    <ion-icon
                      name="sync-outline"
                      class="button-icon"
                    ></ion-icon>
                    Update comment
                  </ion-button>
                </ion-col>
                <ion-col class="ion-text-end">
                  <ion-button
                    color="danger"
                    (click)="onCancelClicked(comment.id)"
                    [disabled]="!!!updateCommentContent"
                  >
                    <ion-icon
                      name="close-outline"
                      class="button-icon"
                    ></ion-icon>
                    Cancel
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="comment-card">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item lines="full" class="form-group my-input-padding">
                    <ion-textarea
                      type="text"
                      [(ngModel)]="simpleCommentContent"
                      rows="4"
                      placeholder="Type comment here..."
                      maxlength="2048"
                    ></ion-textarea>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-align-self-end">
                  <ion-button
                    color="success"
                    [disabled]="!!!simpleCommentContent"
                    (click)="onLeaveCommentClicked(student.value.email)"
                  >
                    <ion-icon
                      name="chatbox-ellipses-outline"
                      class="button-icon"
                    ></ion-icon>
                    Leave comment
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
