.top-padding {
  top: 10%;
}

.dark-blue {
  color: #1e6bb8;
}

.late {
  color: red;
}

.dc {
  display: contents;
}

.mw {
  max-width: 1000px;
}

.minw-150 {
  min-width: 150px;
}

.tac {
  text-align: -webkit-center;
}

.tas {
  text-align: start;
}

.owrap {
  overflow-wrap: anywhere;
}
