.card {
  max-width: 1000px;
  text-align: start;
}

.slides {
  padding-top: 75px;
}

.slide {
  text-align: -webkit-center;
}

.timer-row {
  max-width: 1000px;
}

.timer {
  text-align: end;
}

.questions-number {
  text-align: start;
}

.warning {
  color: var(--ion-color-warning);
}

.buttons-row {
  max-width: 1000px;
}

.previous-column {
  text-align: start;
}

.next-column {
  text-align: end;
}

.quiz-name {
  font-style: italic;
  font-weight: bold;
  font-size: larger;
}
