.start {
  text-align: start;
}

.max-width {
  max-width: 1000px;
}

.slides {
  padding-top: 150px;
  padding-bottom: 100px;
}

.slide {
  text-align: -webkit-center;
}

.timer-row {
  max-width: 1000px;
}

.timer {
  text-align: end;
}

.questions-number {
  text-align: start;
}

.dark-blue {
  color: #1e6bb8;
}

.warning {
  color: var(--ion-color-warning);
}

.buttons-row {
  max-width: 1000px;
}

.previous-column {
  text-align: start;
}

.next-column {
  text-align: end;
}
