<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ !!discussion ? 'Edit Discussion' : 'Add Discussion' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="discussionFrom"
    (ngSubmit)="submitForm()"
    class="padding-8"
  >
    <ion-item lines="full" class="form-group item-radius">
      <ion-label position="floating" for="name">Name</ion-label>
      <ion-input
        type="text"
        id="name"
        name="name"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <span
      class="ion-padding text-danger"
      *ngIf="errorControl.name.touched && errorControl.name.errors?.required"
    >
      Name is required.
    </span>
    <span
      class="ion-padding text-danger"
      *ngIf="errorControl.name.errors?.maxlength"
    >
      Name is too long.
    </span>
    <ion-item class="my-input-margin item-radius no-bottom-radius">
      <ion-label>Content</ion-label>
    </ion-item>
    <ion-item class="form-group item-radius no-top-radius">
      <quill-editor
        [styles]="editorStyle"
        formControlName="content"
        [modules]="editorConfig"
        class="ion-padding-bottom"
      ></quill-editor>
    </ion-item>
    <span
      class="ion-padding text-danger"
      *ngIf="errorControl.content.errors?.maxlength"
    >
      The length of the content reached the max capacity.
    </span>
    <span
      class="text-danger ion-padding"
      *ngIf="
        errorControl.content.touched && errorControl.content.errors?.required
      "
    >
      Content is required.
    </span>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button
          type="submit"
          color="success"
          class="button-width"
          [disabled]="discussionFrom.invalid"
        >
          <ng-container *ngIf="!!discussion; else elseTemplate">
            <ion-icon name="save-outline" class="button-icon"></ion-icon>
            Save
          </ng-container>
          <ng-template #elseTemplate>
            <ion-icon name="add-outline" class="button-icon"></ion-icon>
            Add
          </ng-template>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
