<div class="card">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="dark-blue">{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let item of data">
        <ion-label text-wrap>
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </ion-label>
        <ion-buttons *ngIf="isTeacher" slot="end">
          <ion-button color="success" (click)="viewClicked(item.id)">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="deleteClicked(item.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <p *ngIf="!!data && data.length === 0">No data found</p>
    </ion-card-content>
  </ion-card>
</div>
