<div class="card">
  <ion-card class="no-margin-top">
    <ion-card-header>
      <ion-card-title class="dark-blue">{{ title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input [placeholder]="title" (ionChange)="onFilterItems($event)">
          <ion-icon name="search-outline" class="button-icon"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item *ngFor="let item of filteredData">
        <ion-label text-wrap>
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="success" (click)="onViewClicked(item.id)">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="isTeacher || item.creatorUsername === username"
            color="danger"
            (click)="onDeleteClicked(item.id)"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <p *ngIf="!!data && data.length === 0">No data found</p>
    </ion-card-content>
  </ion-card>
</div>
