<ion-content class="top-padding center" *ngIf="!!discussion">
  <ion-grid>
    <ion-row
      *ngIf="isTeacher || discussion.creator.email === username"
      fixed
      class="add-button-row max-width"
    >
      <ion-col>
        <ion-button color="primary" (click)="presentDiscussionModal()">
          <ion-icon name="pencil-outline" class="add-icon"></ion-icon>
          Edit discussion
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="max-width start">
          <ion-card-header>
            <ion-card-title>
              <ion-avatar class="avatar">
                <img
                  [src]="creatorImageUrl"
                  onerror="this.src='assets/icon/account-icon.png'"
                />
              </ion-avatar>
              <div class="title">{{ discussion.name }}</div>
              <ion-card-subtitle class="dark-blue"
                >{{ discussion.creator.firstName }}
                {{ discussion.creator.lastName }}
              </ion-card-subtitle>
              <ion-card-subtitle>
                {{ discussion.date | date: "medium" }}
              </ion-card-subtitle>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="mt20">
            <div [innerHTML]="discussion.content"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row fixed class="add-button-row max-width">
      <ion-col class="start">
        <p class="mb-0 mt-30">Comments</p>
      </ion-col>
      <ion-col>
        <ion-button color="success" (click)="presentCommentModal()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
          Reply
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let comment of discussion.comments.slice().reverse()">
      <ion-col>
        <ion-card class="max-width start">
          <ion-card-header class="ion-no-padding">
            <ion-card-title>
              <ion-item>
                <ion-avatar class="avatar">
                  <img
                    [src]="commentImageUrls[comment.commenter.id]"
                    onerror="this.src='assets/icon/account-icon.png'"
                  />
                </ion-avatar>
                <ion-buttons
                  slot="end"
                  *ngIf="comment.commenter.email === username"
                  class="ion-no-margin"
                >
                  <ion-button color="primary" (click)="onEditClicked(comment)">
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-button>
                  <ion-button
                    color="danger"
                    (click)="onDeleteClicked(comment.id)"
                  >
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-card-subtitle class="dark-blue"
                  >{{ comment.commenter.firstName }}
                  {{ comment.commenter.lastName }}
                </ion-card-subtitle>
                <ion-card-subtitle>
                  &nbsp;- {{ comment.date | date: "medium" }}
                </ion-card-subtitle>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div [innerHTML]="comment.content"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
