.card {
  max-width: 1000px;
  text-align: start;
}

.grid {
  padding-top: 75px;
  text-align: -webkit-center;
}

.title {
  display: inline-block;
  vertical-align: super;
}

.button-icon {
  padding-right: 5px;
}

.button-row {
  text-align: end;
  max-width: 1000px;
}

.comments-label {
  margin-bottom: 0px;
  margin-top: 30px;
}

.avatar {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}
