<div class="content">
  <form class="form-signing" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <ion-item lines="full">
      <ion-label position="floating" for="email">Email</ion-label>
      <ion-input
        type="email"
        id="email"
        class="form-control"
        ngModel
        name="email"
        required
        email
        #email
      ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating" for="password">Password</ion-label>
      <ion-input
        type="password"
        id="password"
        class="form-control"
        ngModel
        name="password"
        required
        minlength="8"
        #password
      ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="tertiary"
          expand="block"
          [disabled]="!authForm.valid"
          >Log In</ion-button
        >
        <a [routerLink]="['']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>
</div>
