<div class="content ion-padding">
  <form class="form-signing" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <ion-item lines="full" class="form-group item-radius">
      <ion-label position="floating" for="email">Email</ion-label>
      <ion-input
        class="ion-padding-bottom"
        type="email"
        id="email"
        ngModel
        name="email"
        required
        email
        #email
        maxlength="255"
      ></ion-input>
    </ion-item>

    <ion-item lines="full" class="form-group item-radius">
      <ion-label position="floating" for="password">Password</ion-label>
      <ion-input
        type="password"
        id="password"
        ngModel
        name="password"
        required
        minlength="8"
        maxlength="255"
        #password
      ></ion-input>
      <ion-input
        type="submit"
        [disabled]="!authForm.valid"
        [hidden]="true"
      ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="tertiary"
          expand="block"
          [disabled]="!authForm.valid"
          >Log In</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</div>
