<ion-content *ngIf="!!courses">
  <ion-grid fixed="true" class="grid">
    <ion-row>
      <ion-col>
        <ion-item class="dark-blue title"> Courses </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!!invitations && invitations.length">
      <ion-col>
        <app-invitation-card
          [title]="'Invitations'"
          [data]="invitationOverviews"
          (onAcceptClicked)="acceptClicked($event)"
          (onDeclineClicked)="declineClicked($event)"
        ></app-invitation-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="teacher" class="add-button-row">
      <ion-col>
        <ion-button color="success" (click)="presentModal()">
          <ion-icon class="add-icon" name="add-outline"></ion-icon>
          Add course
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="courses.length === 0">
      <ion-col>
        <ion-text color="warning"> Didn't found courses to display. </ion-text>
      </ion-col>
    </ion-row>
    <ion-row wrap>
      <ion-col *ngFor="let course of courses" class="course-card-col">
        <app-course-card [course]="course"></app-course-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
