<ion-content class="content">
  <ion-grid fixed="true" class="course-card-grid">
    <ion-row *ngIf="!!invitations && invitations.length">
      <ion-col>
        <app-invitation-card
          [title]="'Invitations'"
          [data]="invitationOverviews"
          (onAcceptClicked)="acceptClicked($event)"
          (onDeclineClicked)="declineClicked($event)"
        ></app-invitation-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="teacher" class="add-button-row">
      <ion-col>
        <ion-button color="success" (click)="presentModal()">
          <ion-icon class="add-icon" name="add-outline"></ion-icon>
          Add course
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row wrap>
      <ion-col *ngFor="let course of courses">
        <app-course-card [course]="course"></app-course-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
