.card {
  width: 270px;
  height: 230px;
  border-radius: 8px;
}

.footer {
  position: absolute;
  bottom: 5%;
}

.div {
  background-color: var(--ion-color-secondary-shade);
}

.shortname {
  font-size: medium;
}

.ios .navbutton {
  position: absolute;
  bottom: 5%;
}

.header-grid {
  height: 50px;
  padding-top: 5px;
}

.course-button {
  text-align: end;
  font-size: 25px;
}

.course-button:hover {
  cursor: pointer;
}
