<ion-header>
  <ion-toolbar>
    <ion-title> Create course </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="courseForm" (ngSubmit)="submitForm()">
    <ion-item class="form-group">
      <ion-label position="floating" for="name">Name</ion-label>
      <ion-input
        type="text"
        id="name"
        name="name"
        formControlName="name"
      ></ion-input>
    </ion-item>
    <span
      class="text-danger ion-padding"
      *ngIf="errorControl.name.touched && errorControl.name.errors?.required"
    >
      Name is required.
    </span>
    <span
      class="text-danger ion-padding"
      *ngIf="errorControl.name.errors?.maxlength"
    >
      Name is too long.
    </span>
    <ion-item class="form-group my-input-padding">
      <ion-label position="floating" for="longName">Long name</ion-label>
      <ion-input
        type="text"
        id="longName"
        name="longName"
        formControlName="longName"
      ></ion-input>
    </ion-item>
    <span
      class="text-danger ion-padding"
      *ngIf="
        errorControl.longName.touched && errorControl.longName.errors?.required
      "
    >
      Long name is required.
    </span>
    <span
      class="text-danger ion-padding"
      *ngIf="errorControl.longName.errors?.maxlength"
    >
      Long name is too long.
    </span>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="success"
          expand="block"
          [disabled]="courseForm.invalid"
        >
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
